<%- include('../partials/header') %>

<section id="show-page">
    <tr>
        <td><%= worldFirst.boss %></td>
        <td><%= worldFirst.guild %></td>
        <td><%= worldFirst.date %></td>
        <td><%= worldFirst.daysLived %> </td>
        <td><%= worldFirst.comments %></td>
   </tr>
    
        


</form>
<%- include('../partials/footer') %>